@font-face {
  font-family: "Varela Round";
  src: url("/font/VarelaRound-Regular.ttf");
}

$theme-black:        #666666;
$theme-yellow:       #ffc843;
$theme-yellow-dark:  #ffa816;
$theme-grey:         #c1c8d2;
$theme-grey-dark:    #434c54;
$theme-vanilla:      #F8EFBA;
$theme-white:        #ffffff;